<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yum.mapper.CartMapper">

	<sql id="cartColums">
		USER_NUM
		, PRODUCT_NUM
		, BRANCH_NUM
		, SHOT_CUSTOM
		, TOTAL_PRICE		
	</sql>
	

	<!-- 카트 추가 -->
	<insert id ="insertCart" parameterType="com.yum.domain.CartDTO">
		INSERT into Cart (
		<include refid="cartColums"></include>
		)VALUES(
			  #{userNum}
			, #{productNum}
			, #{branchNum}
			, #{shotCustom}
			, (SELECT 
                    (p.PRICE+s.PRICE)
                FROM
                    PRODUCT p
                    , SHOTCUSTOM s
                WHERE
                    p.PRODUCT_NUM = #{productNum}
                AND
                    s.SHOT_CUSTOM = #{shotCustom})
				)
	</insert>
	
	
	<!-- 제품 수량 수정 -->
	<update id="updateCartQty" parameterType="com.yum.domain.CartDTO">
		UPDATE 
			CART
		SET 
			QTY = #{qty}
			, TOTAL_PRICE= 	
				(SELECT 
					(p.PRICE+s.PRICE)*#{qty}
				FROM
					PRODUCT p
					, SHOTCUSTOM s
				WHERE
					p.PRODUCT_NUM = #{productNum}
 				AND
					s.SHOT_CUSTOM = #{shotCustom})
			, INSERT_TIME=CURRENT_DATE
		WHERE 
			USER_NUM = #{userNum} 
		AND 
			PRODUCT_NUM = #{productNum}
		AND 
			BRANCH_NUM = #{branchNum}
		AND 
			SHOT_CUSTOM = #{shotCustom}
	</update>
			
	<!-- 제품이 장바구니에 있는지 확인 -->
	<select id="selectCart" parameterType="com.yum.domain.CartDTO" resultType="com.yum.domain.CartDTO">
		SELECT
			QTY
		FROM
			CART
		WHERE 
			USER_NUM = #{userNum} 
		AND 
			PRODUCT_NUM = #{productNum}
		AND 
			BRANCH_NUM = #{branchNum}
		AND 
			SHOT_CUSTOM = #{shotCustom}
	</select>
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart" parameterType="com.yum.domain.CartDTO">
		DELETE FROM CART
		WHERE 
			USER_NUM = #{userNum} 
		AND 
			PRODUCT_NUM = #{productNum}
		AND 
			BRANCH_NUM = #{branchNum}
		AND 
			SHOT_CUSTOM = #{shotCustom}
	</delete>
	
	<!-- 카트 목록 -->
	<select id="selectCartList" parameterType="map" resultType="com.yum.domain.CartDTO">
		SELECT 
	 		c.*
	 		, p.NAME
	 		, p.PRICE 
	 	FROM 
	 		CART c 
	 		, PRODUCT p 
	 	WHERE 
	 		c.USER_NUM = #{userNum}
	 	AND 
	 		c.BRANCH_NUM = #{branchNum}
	 	AND 
	 		c.PRODUCT_NUM = p.PRODUCT_NUM 
	 	ORDER BY 
	 		c.INSERT_TIME DESC
	</select>
	
	<!-- 카트 갯수 확인 -->
	<select id="countTotalCart" parameterType="map" resultType="Long">
		SELECT 
			COUNT(*)
		FROM 
			CART
		WHERE 
			USER_NUM = #{userNum} 
	  	AND 
	  		BRANCH_NUM = #{branchNum}
  	  	ORDER BY 
  	  		INSERT_TIME DESC
	</select>
	<!-- 카트 확인 -->
 	<select id="checkCart" parameterType="com.yum.domain.CartDTO" resultType="com.yum.domain.CartDTO">
	   SELECT *
        FROM
            CART
        WHERE 
            USER_NUM = #{userNum} 
        AND 
            PRODUCT_NUM = #{productNum}
        AND 
            BRANCH_NUM = #{branchNum}
        AND 
            SHOT_CUSTOM = #{shotCustom}
	</select> 
	
	
</mapper>