<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.mapper.MypageMapper">
<!--  
    <insert id="insertMember" parameterType="com.yum.domain.MemberDTO">
        insert into sign_in (id, name, tel, email, birth, authority)
        values(#{id},#{name},#{tel},#{email},#{birth},#{authority});
    </insert>
    -->
    <sql id="couponColumns">
        CP_NUM
        , USER_NUM
        , PM_NUM
        , INSERT_DATE
        , EXPIRATION_DATE
        , KIND
        , DELETE_YN
        , DESCRIPTION
    </sql>
    
    <select id="selectOrderDetail">
       SELECT * FROM COUPON
    </select>
    
    <select id="selectTest">
        <!-- 
        SELECT to_char(SYSDATE-1) FROM DUAL
          -->
       SELECT * FROM COUPON
      
    </select>
    
    <insert id="insertCoupon"> 
                 INSERT INTO COUPON (
                    CP_NUM 
        , USER_NUM
        , INSERT_DATE 
        , EXPIRATION_DATE 
        , KIND 
        , DELETE_YN 
        , DESCRIPTION
        ) VALUES (
             SEQ.NEXTVAL  
            , #{userNum}
            , sysdate
            , sysdate+29
            , '스탬프'
            , 'N'
            , '아메리카노 1잔과 교환할 수 있습니다.'
        )
    </insert>
    
    <select id="selectCouponList" parameterType="com.yum.domain.CouponDTO" resultType="com.yum.domain.CouponDTO">
        SELECT 
          EXPIRATION_DATE
        , KIND
        , DESCRIPTION
        FROM 
            COUPON
        WHERE 
            USER_NUM= #{userNum} 
        AND 
            DELETE_YN='N'
        ORDER BY
            CP_NUM DESC
    </select>
    <select id="selectUserDetail" parameterType="int" resultType="com.yum.domain.UserDTO">
        SELECT 
            *
        FROM 
            SIGN_IN
        WHERE 
            USER_NUM= #{userNum} 
    </select>
    
    <select id="countCoupon" parameterType="com.yum.domain.CouponDTO" resultType="int">
        SELECT 
            COUNT(*)
        FROM 
            COUPON
        WHERE 
            USER_NUM= #{userNum} 
        AND 
            DELETE_YN='N'
    </select>


</mapper>