<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.mapper.OrderMapper">
    <sql id="orderColumns">
       	"order_num"	
		, "user_num"	
		, "branch_num"	
		, "pickup_yn"	
		, PICKUP_TIME
		, "order_time"	
		, "total_price"	
    </sql>
    
    <!-- 주문 내역 추가-->
    <insert id="insertOrder" parameterType="com.yum.domain.OrderDTO">
		INSERT INTO "order" (
			<include refid="orderColumns"></include>
		) VALUES (
			ORDER_SEQ.NEXTVAL
			, #{userNum}
			, #{branchNum}
			, #{pickupYn}
			, CURRENT_DATE+#{pickupTime}/(24*60)
			, CURRENT_DATE
			, #{totalPrice}
		)
    </insert>
    
    <!-- 주문 세부 내역 추가-->
    <insert id="insertOrderDetail" parameterType="com.yum.domain.CartDTO">
		INSERT INTO "order_detail" (
		  	"order_num"	
			, "product_num"	
			, "qty"	
			, "price"	
			, "shot_custom"	
		) VALUES (
			(SELECT "order_num" 
			FROM
				(SELECT 
					o."order_num"
					, RANK() OVER (ORDER BY o."order_time" DESC) AS RANK
				FROM 
					"order" o 
				WHERE 
					TRUNC(o."order_time",'DD')=TRUNC(CURRENT_DATE,'DD')  
				) 
			WHERE 
				RANK=1)
			, #{productNum}
			, #{qty}
			, #{totalPrice}
			, #{shotCustom}
		)
    </insert>
    
    <!-- 주문한 수량만큼 스탬프/쿠폰 추가 프로시저 호출-->
    <insert id="insertCoupon" parameterType="map"> 
    	CALL ADD_COUPON(
    		#{userNum}
    		, #{totalQty}
   		)
    </insert>
    
    <!-- 결제 정보 저장 -->
    <insert id="insertPayInfo" parameterType="com.yum.domain.CartDTO">
    	INSERT INTO PAYMENT (
		  	ORDER_NUM
		  	, IMP_UID
		  	, MERCHANT_UID
		  	, PAY_METHOD
		  	, PAID_AMOUNT
		  	, APPLY_NUM
		) VALUES (
			(SELECT "order_num" 
			FROM
				(SELECT 
					o."order_num"
					, RANK() OVER (ORDER BY o."order_time" DESC) AS RANK
				FROM 
					"order" o 
				WHERE 
					TRUNC(o."order_time",'DD')=TRUNC(CURRENT_DATE,'DD')  
				) 
			WHERE 
				RANK=1)
			, #{impUid}
			, #{merchantUid}
			, #{payMethod}
			, #{paidAmount}
			, #{applyNum}
		)
    </insert>
    
    
    
    
      
    <select id="selectPaymentList" parameterType="com.yum.domain.OrderDTO" resultType="com.yum.domain.OrderDTO">
        SELECT 
            *
        FROM 
            "order"
        ORDER BY
            "order_num" ASC
    </select>
    
    <select id="countPaymentList" parameterType="com.yum.domain.PaymentDTO" resultType="int">
        SELECT 
            COUNT(*)
        FROM 
            "order"
    </select>
    
    <select id="selectTotalPrice" parameterType="int" resultType="int">
       SELECT
           "total_price"
       FROM
           "order"
       WHERE
           "order_num" = #{ orderNum }
    </select>
    
    <select id="selectBranchName" parameterType="int" resultType="String">
        SELECT 
            b.BRANCH_NAME  
        FROM 
            BRANCH b 
        WHERE 
            b.BRANCH_NUM = (SELECT 
                                o."branch_num"  
                            FROM 
                                "order" o 
                            WHERE 
                            o."order_num" = #{ orderNum })
    </select>
    
    <select id="selectOrder" parameterType="int" resultType="com.yum.domain.OrderDTO">
        <!-- SELECT * FROM "order_detail" WHERE "order_num" = #{ orderNum } -->
        SELECT 
            *
        FROM 
            (SELECT 
                od."order_num"
                , p.PRODUCT_NUM
                , p.NAME
                , p.PRICE
                , p.INFO
                , od."qty"
                , od."shot_custom"
                , i.img_path
             FROM 
                "order_detail" od
                , PRODUCT p
                , img i
             WHERE 
                p.PRODUCT_NUM = od."product_num"
             AND
                p.PRODUCT_NUM = i.PRODUCT_NUM)
        WHERE 
            PRODUCT_NUM 
        IN 
            (SELECT 
                  "product_num" 
             FROM 
                  "order_detail" 
             WHERE 
                  "order_num" = #{ orderNum })
        AND
            "order_num" = #{ orderNum }
    </select>
    
    
    

</mapper>