<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.mapper.PaymentMapper">
<!--  
    <insert id="insertMember" parameterType="com.yum.domain.MemberDTO">
        insert into sign_in (id, name, tel, email, birth, authority)
        values(#{id},#{name},#{tel},#{email},#{birth},#{authority});
    </insert>
    -->
    <sql id="couponColumns">
        order_num,
        user_num,
        branch_num,
        pickup_yn,
        order_time,
        total_price
    </sql>
    
    <select id="selectPaymentList" parameterType="com.yum.domain.PaymentDTO" resultType="com.yum.domain.PaymentDTO">
        SELECT 
            *
        FROM 
            "order"
        ORDER BY
            "order_num" ASC
    </select>
    
    <select id="countPaymentList" parameterType="com.yum.domain.PaymentDTO" resultType="int">
        SELECT 
            COUNT(*)
        FROM 
            "order"
    </select>
    
    <select id="selectTotalPrice" parameterType="int" resultType="int">
       SELECT
           "total_price"
       FROM
           "order"
       WHERE
           "order_num" = #{ orderNum }
    </select>
    
    <select id="selectBranchName" parameterType="int" resultType="String">
        SELECT 
            b.BRANCH_NAME  
        FROM 
            BRANCH b 
        WHERE 
            b.BRANCH_NUM = (SELECT 
                                o."branch_num"  
                            FROM 
                                "order" o 
                            WHERE 
                            o."order_num" = #{ orderNum })
    </select>
    
    <select id="selectOrder" parameterType="int" resultType="com.yum.domain.OrderDTO">
        <!-- SELECT * FROM "order_detail" WHERE "order_num" = #{ orderNum } -->
        SELECT 
            *
        FROM 
            (SELECT 
                od."order_num"
                , p.PRODUCT_NUM
                , p.NAME
                , p.PRICE
                , p.INFO
                , od."qty"
                , od."shot_custom"
                , i.img_path
             FROM 
                "order_detail" od
                , PRODUCT p
                , img i
             WHERE 
                p.PRODUCT_NUM = od."product_num"
             AND
                p.PRODUCT_NUM = i.PRODUCT_NUM)
        WHERE 
            PRODUCT_NUM 
        IN 
            (SELECT 
                  "product_num" 
             FROM 
                  "order_detail" 
             WHERE 
                  "order_num" = #{ orderNum })
        AND
            "order_num" = #{ orderNum }
    </select>
    
    

</mapper>