<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>YumYum 과거 주문 내역</title>
    </th:block>
    <th:block layout:fragment="header">
        <h4 class="display-3 fw-bolder">My Page</h4>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>
    
    <th:block layout:fragment="content">
        <div class="row gx-4 gx-lg-5 justify-content-end">
	        <div class="flex flex-col col mx-8">
		        <div class="flex col max-h-10 mb-3 ">
		        <!-- 과거 주문 내역-->
		            <div class="grow font-semibold text-2xl">과거 주문 내역</div>
			        <div class="mb-2 font-semibold text-xl">
			            <span th:onclick="printOrderList(7,1)" class="cursor-pointer mx-1">1주일</span>
			            <span th:onclick="printOrderList(31,1)" class="cursor-pointer mx-1">1개월</span>
			            <span th:onclick="printOrderList(100,1)" class="cursor-pointer mx-1">전체</span>
			        </div>
		        </div>
		        <div class="max-h-[50vh] overflow-y-scroll bg-gray-200 p-3  grid grid-cols-1 flex justify-center">
		           <div class="flex justify-center">
		               <table id="order-list" style="min-width:600px; border:0;"></table>
		           </div>
		           <div th:onclick="addContent()" style="cursor:pointer;"
		               class=" text-white bg-slate-900 text-center font-semibold m-4 p-3 "
		               >더보기</div>
		        </div>
		     </div>
		     <div th:replace="/fragments/mypageSidebar :: sidebar"> </div>
		 </div>
    </th:block>
    
<!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            //let orderTotlaCount = /*[[${orderTotlaCount}]]*/null;
            let period = 7;
            let firstIndex = 1;
            let orderHistoryHtml = "";  
            
            /*전체 기간 조회*/    
            function getToday(){
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = ("0" + (1 + date.getMonth())).slice(-2);
                    var day = ("0" + date.getDate()).slice(-2);
            
                    return year + "-" + month + "-" + day;
                }
                
                        
                const getDateDiff = (d1, d2) => {
                      const date1 = new Date(d1);
                      const date2 = new Date(d2);
                      
                      const diffDate = date1.getTime() - date2.getTime();
                      
                      return Math.abs(diffDate / (1000 * 60 * 60 * 24)); // 밀리세컨 * 초 * 분 * 시 = 일
                    }
            
                const allPeriod = getDateDiff("2022-06-13", getToday())+1;
            
                    
            /*주문 내역 출력*/        
            $(function() {
                printOrderList(7, 1);
            });
            
            function printOrderList(selectedTerm, index) { 
            	if (index == 1){
            		firstIndex = 1;
                    orderHistoryHtml = "";   
            	} 
            	if (selectedTerm!=null){
	                if (selectedTerm==100){
	                    period=allPeriod;
	                } else{
	                	period = selectedTerm;
	                }
            	}
                
                let uri = /*[[ @{/yumyum/orderhistory/}+${member.userNum}+'/']]*/null;
                uri+=(period+'/'+firstIndex);
                
                $.get(uri, function(response) {
                    if (isEmpty(response) == false) {
                        
                        function groupArrayOfObjects(list, key) {
                              return list.reduce(function(rv, x) {
                                (rv[x[key]] = rv[x[key]] || []).push(x);
                                return rv;
                              }, {});
                            };
                            
                        let groupOrderList=groupArrayOfObjects(response.orderHistoryList,"orderNum");
                        let sortList=[]
                        
                        for(i in groupOrderList){
                        	sortList.unshift(groupOrderList[i]);
                        }
                        

                        for(i in sortList){
                            let order = sortList[i][0];
                            let orderDate = ""+(order.orderTime).substring(0,10);
                            
                            orderHistoryHtml += `
                                <tr height="10" style="border-bottom:2px solid black">
	                                <tr class="font-semibold mb-2 text-m leading-6 dark:text-slate-100 h-10">
	                                   <td colspan="3">${orderDate}</td>
	                                   <td class="text-right">${order.branchName}</td>
	                                </tr>
                                  `;
                                  
                            for(j in sortList[i]){
                                let orderDetail = sortList[i][j];
                                orderHistoryHtml += `
                                    <tr>
                                        <td class="font-semibold">${orderDetail.name}</td>
                                        <td>${orderDetail.info}</td>
                                        <td>${orderDetail.ea}</td>
                                        <td class="text-right">${orderDetail.price}</td>
                                    </tr>
                                    
                                `;
                            }
                            
                            orderHistoryHtml += `
                                   <tr class="font-semibold mb-2 text-m leading-6 dark:text-slate-100 h-10">
                                       <td colspan="2"></td>
                                       <td>결제금액</td>
                                       <td class="text-right">${order.totalPrice}</td>
                                   </tr>
                               </tr>    
                               `;
                        };
        
                        $("#order-list").html(orderHistoryHtml);
                    }
                }, "json");
                firstIndex+=5;
            }
            /*[- end of function -]*/
            
            function addContent(){
                printOrderList(null,null); 
            }
            /*[- end of function -]*/
                    /*[- end of function -]*/
                    /*]]>*/
        </script>
    </th:block>
</html>