<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
    <title>productDetails</title>
    <style>
        tr,td{
            border: 1px solid black;
        }
    </style>
    
</head>
<body>
    <h2>제품 등록</h2>
    <form th:action="@{/product/register.do}" th:object="${product}" method="post" name="form" id="imgForm">
        <input type="hidden" th:if="*{productNum != null and productNum  > 0}" th:field="*{idx}" />
        <select name="Step1" id="" onchange="changes1Step(value)">
            <option >제품</option>
            <option value="음료">음료</option>
            <option value="디저트">디저트</option>
        </select>
        <select name="Step2" id="">
            <option value="">--------</option>
        </select><br>
        <table>
            <tr>
             <td style="width: 200px;">제품명</td>
                <td rowspan="5">
                   <input type='file' id="myFile" th:field="*{img}"/><br>   
                   <!-- <input type="text" th:field="*{img}"  placeholder="이미지를 입력해 주세요."> -->
                    <img id="View" src="#" alt="이미지 미리보기" style="width: 200px; height: 200px;"/>
                </td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{name}"  placeholder="제품명을 입력해 주세요."></td>
            </tr>
            <tr>
                <td>가격</td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{price}"  placeholder="가격을 입력해 주세요."></td>
            </tr>
            <tr>
                <td>제품설명</td>
            </tr>
            <tr >
                <td colspan="2">
                    <textarea  id="" cols="70" rows="10" th:field="*{info}"  placeholder="설명을 입력해 주세요."></textarea>
                </td>
            </tr>
        </table> 
   
        <button type="button" th:href="@{/product/List.do}">뒤로가기</button>
        <button type="submit">등록하기</button>
    </form>
    
    <script>
        function changes1Step(fr) {
            if(fr=="음료") {
            num = new Array("커피","스무디","티");
            vnum = new Array("커피","스무디","티");
            }
            else if(fr=="디저트") {
            num = new Array("케이크","구움과자","빙수");
            vnum = new Array("케이크","구움과자","빙수");
            }
            
            for(i=0; i<form.Step2.length; i++) {
            form.Step2.options[i] = null;
            }
            
            for(i=0; i<num.length; i++) {
            form.Step2.options[i] = new Option(num[i],vnum[i]);
            }
         }

        $(function() {
            $("#myFile").on('change', function(){
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $('#View').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
</html>