<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="yumyum/layout/basic">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<title>상품등록</title>

<style type="text/css">
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filebox.bs3-primary .col-sm-10>label {
    color: #fff;
    background-color: #393b3d;
    border-color: #393b3d;
}
.filebox .col-sm-10>label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}
.filebox .upload-name {
    display: inline-block;
    width: 350px;
    padding: .5em .75em;
    /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

select{
    border:1px solid #bdc2c7;
    border-radius:3px;
    color: #66696b;
    padding: 3px;
}

</style>
</head>
<th:block layout:fragment="content">
<body>
    <div class="jumbotron">
       <h1>제품 등록</h1>
       <p>새로운 제품을 등록하세요!</p>
    </div>
    
    <div class="container mt-3">
      <div class="card">
        <div class="card-body">
            <th:block>
               <form class="form-horizontal" th:action="@{/product/register.do}" th:object="${product}" method="post" enctype="multipart/form-data" >
                <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" th:if="*{productNum != null and productNum > 0}" th:field="*{productNum}" />
                 
                <!-- <div class="form-group"> -->
                <label for="codeId" class="col-1 control-label">분류</label>
                    <span class="col-sm-6">
                       <select onchange="categoryChange(this)">
                           <option>선택해주세요</option>
                           <option value="b">음료</option>
                           <option value="d">베이커리</option>
                       </select>
                       
                       <select id="good" name="codeId">
                           <option >------</option>
                       </select>
                    </span>
                    
                <!-- </div> -->
                
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">제품명</label>
                    <div class="col-sm-12">
                        <input type="text" th:field="*{name}" class="form-control" placeholder="제품명을 입력해 주세요." />
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">가격</label>
                    <div class="col-sm-12">
                        <input type="number" th:field="*{price}" class="form-control" />
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="info" class="col-sm-2 control-label">상세정보</label>
                    <div class="col-sm-12">
                        <textarea th:field="*{info}" class="form-control"
                            placeholder="상세정보 입력해 주세요."></textarea>
                    </div>
                </div>
    
                <div data-name="fileDiv" class="form-group filebox bs3-primary">
                    <label for="file_0" class="col-sm-2 control-label">파일1</label>
                    <div class="col-sm-10">
                        <input type="text" class="upload-name" value="파일 찾기" readonly />
                        <label for="file_0" class="control-label">찾아보기</label>
                        <input type="file" name="files" id="file_0" class="upload-hidden" onchange="changeFilename(this)" />
                    
                        <button type="button" onclick="addFile()" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                            <i class="fa fa-plus" aria-hidden="true">+</i>
                        </button>
                        <button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                            <i class="fa fa-minus" aria-hidden="true">-</i>
                        </button>
                    </div>
                </div>
    
                <div id="btnDiv" class="btn_wrap text-center">
                    <a th:href="@{/product/list.do}" class="btn btn-outline-secondary">뒤로가기</a>
                    <button type="submit" class="btn btn-dark">저장하기</button>
                </div>
            </form>
           </th:block>
        </div>
      </div>
    </div>

    <script>
    
        let fileIdx = 0; /*[- 파일 인덱스 처리용 전역 변수 -]*/
        
        function addFile() {
        
            const fileDivs = $('div[data-name="fileDiv"]');
            if (fileDivs.length > 2) {
                alert('파일은 최대 세 개까지 업로드 할 수 있습니다.');
                return false;
            }
        
            fileIdx++;
        
            const fileHtml = `
                <div data-name="fileDiv" class="form-group filebox bs3-primary">
                    <label for="file_${fileIdx}" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="text" class="upload-name" value="파일 찾기" readonly />
                        <label for="file_${fileIdx}" class="control-label">찾아보기</label>
                        <input type="file" name="files" id="file_${fileIdx}" class="upload-hidden" onchange="changeFilename(this)" />
        
                        <button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            `;
        
            $('#btnDiv').before(fileHtml);
        }
        
        function removeFile(elem) {
        
            const prevTag = $(elem).prev().prop('tagName');
            if (prevTag === 'BUTTON') {
                const file = $(elem).prevAll('input[type="file"]');
                const filename = $(elem).prevAll('input[type="text"]');
                file.val('');
                filename.val('파일 찾기');
                return false;
            }
        
            const target = $(elem).parents('div[data-name="fileDiv"]');
            target.remove();
        }
        
        function changeFilename(file) {
        
            file = $(file);
            const filename = file[0].files[0].name;
            const target = file.prevAll('input');
            target.val(filename);
        }
        
        /* selectbox */

        function categoryChange(e) {
            var good_b = ["커피", "스무디", "에이드", "티"];
            var good_d = ["빵", "샐러드", "케이크"];

            var good_b_v = ["b1", "b2", "b3", "b4"];
            var good_d_v = ["d1", "d2", "d3"];

            var target = document.getElementById("good");

            if(e.value == "b") {
                var d = good_b; 
                var b = good_b_v;
            } else if(e.value == "d") {
                var d = good_d;
                var b = good_d_v;
            }
            
            target.options.length = 0;

            for (x in d) {
                var opt = document.createElement("option");
                    for (i in b){
                        opt.value = b[x];
                    }
                opt.innerHTML = d[x];
                target.appendChild(opt);
            }

        }
        
        /*[- end of function -]*/
        
        /*]]>*/
    </script>
    
</body>
</th:block>
</html>