<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="yumyum/layout/basic">
    <th:block layout:fragment="title">
        <title>YumYum Coffee</title>
    </th:block>
    <th:block layout:fragment="header">
        <h4 class="display-3 fw-bolder">My Page</h4>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>
    
        <th:block layout:fragment="modal">
        <div id="couponModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                         <ul id="coupon-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    
    <th:block layout:fragment="content">
    <!-- 스탬프 영역 -->
        <div style="width:300px;">
            <p>STAMP</p>
	        <div id="StampContainer" 
	        style="width:250px;
			    display: flex;
			    flex-direction:row;
			    flex-wrap: wrap;
			    align-content: flex-start;">
	            <th:block th:if="${user.stamp}==0">
	                <th:block th:each="n: ${#numbers.sequence(1,15)}">
		                <div style="width:50px; height:50px; border:solid 1px grey;">            
		                </div>
	                </th:block>
	            </th:block>
	            <th:block th:unless="${user.stamp}==0">
		            <th:block th:each="n: ${#numbers.sequence(1,user.stamp)}">
		                <div>                
			                <img th:src="@{https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCB7lX8zZn5OLCjLHaYzLD1JPltLGPDn9LuQ&usqp=CAU}"
			                    style="width:50px; height:50px; border:solid 1px grey;"></img>
		                </div>
		            </th:block>
		            <th:block th:each="n: ${#numbers.sequence(user.stamp+1,15)}">
		                <div style="width:50px; height:50px; border:solid 1px grey;">            
		                </div>
		            </th:block>
		         </th:block>
	        </div>
        </div>
        <!-- 쿠폰 영역 -->
        <div>
            <span>COUPON</span>
            <h2 th:text="${couponTotalCount}" onclick="openModal()" style="cursor:pointer;"></h2>
        </div>
        
        <!-- 사이드바 영역 -->
        <div class="justify-content-end">
<!--          <sidebar class="position-absolute top-0 end-0 bg-secondary">-->
            
	        <ul style="width:400px;">
	            <li>내 정보 수정</li>
	            <li>
	            <a th:href="@{/yumyum/orderhistory.do(userNum=${user.userNum})}" style="cursor:pointer; z-index:10;">과거 주문 내역</a>
	            </li>
	        </ul>
	        <th:block th:if="${user.stamp}==0">
		        <ul>
		           <span>관리자 목록</span>
    		        <!-- 
		            <li th:action="@{}">회원 관리</li>
		             -->
		            <li>메뉴 관리</li>
		            <li>게시판 관리</li>
		        </ul>
	        </th:block>
        </div>
    </th:block>
    
<!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            	
    /*쿠폰 리스트 출력*/     	
    $(function() {
    	printCouponList();
    });

    function printCouponList() {

        var uri = /*[[ @{/yumyum/coupon/} + ${user.userNum} ]]*/;


        $.get(uri, function(response) {
            if (isEmpty(response) == false) {
                let couponHtml = "";              

                $(response.couponList).each(function(num, coupon) {
                	let expDate = (coupon.expirationDate).substring(0,10);
                	couponHtml += `
                        <li>
                            <div>${coupon.kind} 쿠폰</div>
                            <div>${coupon.description}</div>
                            <div>${expDate}</div>
                        </li>
                    `;
                });

                $("#coupon-list").html(couponHtml);
            }
        }, "json");
    }
    /*[- end of function -]*/
     
     function openModal() {
         $("#couponModal").modal("toggle");
//         document.getElementById("modalKind").value = kind;
//         document.getElementById("modalExpirationDate").value = expirationDate;
//         document.getElementById("modalDescription").value = description;

     }
    
     
      
            /*[- end of function -]*/
            /*]]>*/
        </script>
    </th:block>
</html>