<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="yumyum/layout/mypageBasic">
    <th:block layout:fragment="title">
        <title>YumYum Coffee</title>
    </th:block>
    <th:block layout:fragment="header">
        <h4 class="display-3 fw-bolder">My Page</h4>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>
    
        <th:block layout:fragment="modal">
        <div id="couponModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="display: flex; justify-content: space-between;" >
                        <div class="text-slate-900 font-semibold mt-4 mb-4 ml-4 text-center text-3xl leading-6 dark:text-slate-100"
	                        >
	                        보유 쿠폰
                        </div>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="openModal()">
                        <img aria-hidden="true" th:src="@{https://cdn3.iconfinder.com/data/icons/status/100/close_1-512.png}" style="width:15px; height:15px; margin:20px;"></img>
                        <!-- <span aria-hidden="true"></span> -->
                        </button>
                    </div>
                    <div class="modal-body">
                         <ul id="coupon-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    
    <th:block layout:fragment="content">
        <div class="flex justify-evenly mt-5 col">
	        <!-- 스탬프 영역 -->
	        <div class="text-center">
	            <p style="font-size:x-large; margin-bottom:10px; font-weight:500;">STAMP</p>
		        <div 
		          class="flex flex-row flex-wrap flex-content-start w-64 border-3 border-slate-600"
		          id="StampContainer">
		            <th:block th:if="${user.stamp}==0">
		                <th:block th:each="n: ${#numbers.sequence(1,15)}">
			                <div style="width:50px; height:50px; border:solid 1px grey;">            
			                </div>
		                </th:block>
		            </th:block>
		            <th:block th:unless="${user.stamp}==0">
			            <th:block th:each="n: ${#numbers.sequence(1,user.stamp)}">
			                <div>                
				                <img th:src="@{/img/stamp.jpg}"
				                    style="width:50px; height:50px; border:solid 1px grey;"></img>
			                </div>
			            </th:block>
			            <th:block th:each="n: ${#numbers.sequence(user.stamp,14)}">
			                <div style="width:50px; height:50px; border:solid 1px grey;"></div>
			            </th:block>
	
			         </th:block>
		        </div>
	        </div>

	        <!-- 쿠폰 영역 -->
	        <div class="text-center">
	            <p style="font-size:x-large; margin-bottom:10px; font-weight:500;">COUPON</p>
	            <p th:text="${couponTotalCount}" 
	                onclick="openModal()" 
	                style="cursor:pointer; font-size:xx-large;"></p>
	        </div>
	   </div>     
       
    
<!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            	
    /*쿠폰 리스트 출력*/     	
    (function() {
    	printCouponList();
    })();
    printCouponList();
    function printCouponList() {

        var uri = /*[[ @{/yumyum/coupon/} + ${user.userNum} ]]*/null;

        $.get(uri, function(response) {
            if (isEmpty(response) == false) {
                let couponHtml = "";              

                $(response.couponList).each(function(num, coupon) {
                	let expDate = (coupon.expirationDate).substring(0,10);
                	couponHtml += `
                        <li class="bg-stone-100 border-solid border-2 rounded m-3 p-3 border-slate-600">
                            <div style="display:flex; flex-flow: row wrap; justify-content: space-between;">
                                <div class="py-1 font-semibold hover:text-slate-900 dark:text-slate-400"
                                >${coupon.kind} 쿠폰</div>
                                <div class="py-1 font-semibold hover:text-slate-900 dark:text-slate-400"
                                >유효기간 : ${expDate}까지</div>
                            </div>
                            <div >${coupon.description}</div>
                        </li>
                    `;
                });

                $("#coupon-list").html(couponHtml);
            }
        }, "json");
    }
    /*[- end of function -]*/
     
     function openModal() {
         $("#couponModal").modal("toggle");
     }
    
            /*[- end of function -]*/
            /*]]>*/
        </script>
    </th:block>
</html>