<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="yumyum/layout/basic">
    <th:block layout:fragment="title">
        <title>YumYum Coffee</title>
    </th:block>
    <th:block layout:fragment="header">
        <h4 class="display-3 fw-bolder">My Page</h4>
        <p class="lead fw-normal text-white-50 mb-0"></p>
    </th:block>
    
    <th:block layout:fragment="content">
    <!-- 주문 내역 -->
    <!-- 
        <div id="StampContainer" style="width:300px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;">
            <p>STAMP</p>
            <th:block th:if="${user.stamp}==0">
                <th:block th:each="n: ${#numbers.sequence(1,15)}">
                    <div style="width:50px; height:50px; border:solid 1px grey;">            
                    </div>
                </th:block>
            </th:block>
            <th:block th:unless="${user.stamp}==0">
                <th:block th:each="n: ${#numbers.sequence(1,user.stamp)}">
                    <div>                
                        <img th:src="@{https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCB7lX8zZn5OLCjLHaYzLD1JPltLGPDn9LuQ&usqp=CAU}"
                            style="width:50px; height:50px; border:solid 1px grey;"></img>
                    </div>
                </th:block>
                <th:block th:each="n: ${#numbers.sequence(user.stamp,15)}">
                    <div style="width:50px; height:50px; border:solid 1px grey;">            
                    </div>
                </th:block>
             </th:block>
 
        </div>
     -->
        <!-- 과거 주문 내역-->
        <span>과거 주문 내역</span>
        <div >
            <span th:onclick="printOrderList(7)" style="cursor:pointer;">1주일</span>
            <span th:onclick="printOrderList(30)" style="cursor:pointer;">1개월</span>
            <span th:onclick="printOrderList(100)" style="cursor:pointer;">전체</span>
        </div>
        <div>
           <table id="order-list" style="width:600px;"></table>
        </div>
        
        <!-- 사이드바 영역 -->
        <div class="justify-content-end">
<!--          <sidebar class="position-absolute top-0 end-0 bg-secondary">-->
            
            <!-- 
            <ul>
                <li>내 정보 수정</li>
                <li>과거 주문 내역</li>
            </ul>
            <th:block th:if="${user.stamp}==0">
                <ul>
                   <span>관리자 목록</span>
                    <!-- 
                    <li th:action="@{}">회원 관리</li>
                     -->
                     <!-- 
                    <li>메뉴 관리</li>
                    <li>게시판 관리</li>
                </ul>
            </th:block>
             -->
        </div>
    </th:block>
    
<!-- 자바스크립트 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
                
            /*전체 기간 조회*/    
            function getToday(){
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = ("0" + (1 + date.getMonth())).slice(-2);
                    var day = ("0" + date.getDate()).slice(-2);
            
                    return year + "-" + month + "-" + day;
                }
                
                        
                const getDateDiff = (d1, d2) => {
                      const date1 = new Date(d1);
                      const date2 = new Date(d2);
                      
                      const diffDate = date1.getTime() - date2.getTime();
                      
                      return Math.abs(diffDate / (1000 * 60 * 60 * 24)); // 밀리세컨 * 초 * 분 * 시 = 일
                    }
            
                const allPeriod = getDateDiff("2022-06-13", getToday())+1;
              
            
                    
            /*주문 내역 출력*/        
            $(function() {
                printOrderList();
            });
        
            function printOrderList(period) {   
                let uri = /*[[ @{/yumyum/orderhistory/}+${user.userNum}+'/']]*/;
                console.log(period);
                if (period == null){
                    period=7
                } else if (period==100){
                    period=allPeriod;
                }
                
                uri+=period+'/1/5';
                console.log(uri);
                $.get(uri, function(response) {
                    if (isEmpty(response) == false) {
                        
                        function groupArrayOfObjects(list, key) {
                              return list.reduce(function(rv, x) {
                                (rv[x[key]] = rv[x[key]] || []).push(x);
                                return rv;
                              }, {});
                            };
        
                        let groupOrderList=groupArrayOfObjects(response.orderHistoryList,"orderNum");
                        let orderHistoryHtml = "";   
                        
                        for(i in groupOrderList){
                            let order = groupOrderList[i][0];
                            let orderDate = ""+(order.orderTime).substring(0,10);
                            
                            orderHistoryHtml += `
                                <tr>
                                   <td>${orderDate}</td>
                                   <td></td>
                                   <td></td>
                                   <td>${order.branchName}</td>
                                </tr>
                                  `;
                                  
                            for(j in groupOrderList[i]){
                                let orderDetail = groupOrderList[i][j];
                                orderHistoryHtml += `
                                    <tr>
                                        <td>${orderDetail.name}</td>
                                        <td>${orderDetail.shotCustom}</td>
                                        <td>${orderDetail.ea}</td>
                                        <td>${orderDetail.price}</td>
                                    </tr>
                                `;
                            }
                            
                            orderHistoryHtml += `
                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td>결제금액</td>
                                       <td>${order.totalPrice}</td>
                                   </tr>
                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                  `;
                        };
        
                        $("#order-list").html(orderHistoryHtml);
                    }
                }, "json");
            }
            /*[- end of function -]*/
                
             
              
                    /*[- end of function -]*/
                    /*]]>*/
        </script>
    </th:block>
</html>