<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="yumyum/layout/basic">
<th:block layout:fragment="title">
	<title>결제</title>
</th:block>


<th:block layout:fragment="content">

	<div class="container ">
		<div class="row">
			<div class="col-sm-6">
				<!-- 지점명 -->
				<h2 th:text="${ branchName }"></h2>
				<hr style="margin: 20px">
				<!-- 주문내역 카드 -->
				<div class="card mb-3" style="max-width: 540px;"
					th:if="${not #lists.isEmpty( orderList )}"
					th:each="order : ${ orderList }">
					<div class="row g-0">
						<div class="col-md-4">
							<img th:src="${ order.imgPath }" class="img-fluid rounded-start"
								alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">주문 내역</h5>
								<p class="card-text" th:text="|품목 ${ order.name }|"></p>
								<p class="card-text" th:text="|가격 ${ order.price }|"></p>
								<p class="card-text" th:text="|수량 ${ order.ea }|"></p>
								<small class="text-muted"
									th:utext="|변경사항 ${ order.shotCustom }|"></small>
								<!-- <hr Style="margin-top:10px"> -->
							</div>
						</div>
					</div>
				</div>
				<hr style="margin: 20px">


                <!-- 픽업 여부 -->
				<div>
					<h2>픽업 옵션</h2>
					<input type="radio">매장 <input type="radio">포장
				</div>
				<hr style="margin: 20px">
				
				<!-- 픽업 시간 -->
				<div>
					<h2>픽업 시간</h2>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default button-class1"
							value="바로">바로</button>
						<button type="button" class="btn btn-default button-class2"
							value="5분후">5분 후</button>
						<button type="button" class="btn btn-default button-class3"
							value="10분후">10분 후</button>
						<button type="button" class="btn btn-default button-class4"
							value="15분후">15분 후</button>
					</div>
				</div>
			</div>
			
			<!-- 화면 분할 -->
			<div class="col-sm-6">
			    <!-- 보유 쿠폰 목록 -->
				<div>
					<h2>할인 쿠폰</h2>
					<select>
						<option th:if="${not #lists.isEmpty( couponList )}"
							th:each="coupon, i : ${ couponList }" th:id="'CP'+${i.index+1}"
							th:text="|${coupon.kind}, ${coupon.expirationDate}|"></option>
					</select>
					<button id="btn_select">+</button>
					<div id="selectedCoupon"></div>
				</div>
				<br>
				
				<!-- 결제 수단 -->
				<h2>결제수단</h2>
				<input type="radio">신용카드
				<hr style="margin: 20px">
				
				<!-- 결제 금액 -->
				<!-- <th:text ="총 수량:qty + 개">총수량</th:text>
				<th:text ="할인금액:coupon + 원">할인금액</th:text>
				<th:text ="총액:qty*price-coupon + 원">총액</th:text> -->

				<br>

				<div>
					<button th:href="javascript">결제</button>
				</div>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		//셀렉트 박스 text() 가져오기
		$('#btn_select').on("click", function() {
			var coupon = $("select option:selected").text();
			var couponId = $("select option:selected").attr('id');

			var html = "";
			var html = '<div id=\'' + couponId + '\'>' + coupon + '</div>';
			
			$('select option:selected').attr('disabled', true);
			
			//타겟의 첫번째 id값과 선택한 coupon의 id값을 비교하여 실행
			if ($('#selectedCoupon').children('div').attr('id') != couponId) {
				$('#selectedCoupon').prepend(html);
			};
		    
			var ele = document.getElementById('selectedCoupon');
			var eleCount = ele.childElementCount; //'#selectedCoupon' 밑의 요소갯수 출력

			console.log(eleCount);
			
			/* return eleCount; */
		});

		
		//버튼 토글
		$(function() {

			$('.button-class1').click(function() {
				if ($(this).hasClass('btn-default'))
					$(this).removeClass('btn-default');
				if (!$(this).hasClass('btn-primary'))
					$(this).addClass('btn-primary');
				if ($('.button-class2').hasClass('btn-primary'))
					$('.button-class2').removeClass('btn-primary');
				if (!$('.button-class2').hasClass('btn-default'))
					$('.button-class2').addClass('btn-default');
				if ($('.button-class3').hasClass('btn-primary'))
					$('.button-class3').removeClass('btn-primary');
				if (!$('.button-class3').hasClass('btn-default'))
					$('.button-class3').addClass('btn-default');
				if ($('.button-class4').hasClass('btn-primary'))
					$('.button-class4').removeClass('btn-primary');
				if (!$('.button-class4').hasClass('btn-default'))
					$('.button-class4').addClass('btn-default');
			});

			$('.button-class2').click(function() {
				if ($(this).hasClass('btn-default'))
					$(this).removeClass('btn-default');
				if (!$(this).hasClass('btn-primary'))
					$(this).addClass('btn-primary');
				if ($('.button-class1').hasClass('btn-primary'))
					$('.button-class1').removeClass('btn-primary');
				if (!$('.button-class1').hasClass('btn-default'))
					$('.button-class1').addClass('btn-default');
				if ($('.button-class3').hasClass('btn-primary'))
					$('.button-class3').removeClass('btn-primary');
				if (!$('.button-class3').hasClass('btn-default'))
					$('.button-class3').addClass('btn-default');
				if ($('.button-class4').hasClass('btn-primary'))
					$('.button-class4').removeClass('btn-primary');
				if (!$('.button-class4').hasClass('btn-default'))
					$('.button-class4').addClass('btn-default');
			});

			$('.button-class3').click(function() {
				if ($(this).hasClass('btn-default'))
					$(this).removeClass('btn-default');
				if (!$(this).hasClass('btn-primary'))
					$(this).addClass('btn-primary');
				if ($('.button-class1').hasClass('btn-primary'))
					$('.button-class1').removeClass('btn-primary');
				if (!$('.button-class1').hasClass('btn-default'))
					$('.button-class1').addClass('btn-default');
				if ($('.button-class2').hasClass('btn-primary'))
					$('.button-class2').removeClass('btn-primary');
				if (!$('.button-class2').hasClass('btn-default'))
					$('.button-class2').addClass('btn-default');
				if ($('.button-class4').hasClass('btn-primary'))
					$('.button-class4').removeClass('btn-primary');
				if (!$('.button-class4').hasClass('btn-default'))
					$('.button-class4').addClass('btn-default');
			});

			$('.button-class4').click(function() {
				if ($(this).hasClass('btn-default'))
					$(this).removeClass('btn-default');
				if (!$(this).hasClass('btn-primary'))
					$(this).addClass('btn-primary');
				if ($('.button-class1').hasClass('btn-primary'))
					$('.button-class1').removeClass('btn-primary');
				if (!$('.button-class1').hasClass('btn-default'))
					$('.button-class1').addClass('btn-default');
				if ($('.button-class2').hasClass('btn-primary'))
					$('.button-class2').removeClass('btn-primary');
				if (!$('.button-class2').hasClass('btn-default'))
					$('.button-class2').addClass('btn-default');
				if ($('.button-class3').hasClass('btn-primary'))
					$('.button-class3').removeClass('btn-primary');
				if (!$('.button-class3').hasClass('btn-default'))
					$('.button-class3').addClass('btn-default');
			});

		});

		

		// 모달1
		const modal1 = document.querySelector(".modal1");
		const closeBtn1 = document.querySelector(".close1");

		closeBtn1.onclick = function() {
			modal1.style.display = "none";
		}
		//모달창 오픈 func
		function explain1() {
			modal1.style.display = "block";
		}
		$(function() {
			$(".modal1").draggable();
		});

		/*[- end of function -]*/

		/*]]>*/
	</script>
</th:block>

</html>